# **Learning For This Topics **
1. Creating Data Frame
2. Dealing with rows and columns
3. Operations: min , max, std, describe
4. Conditional Selection
5. Set_index

In [3]:
import pandas as pd
df = pd.read_csv(r"C:\Users\anikakash-w\NoteBook\LearnPandas\DataSets\weather_data.csv")

In [4]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [12]:
# shape
df.shape

(6, 4)

In [13]:
rows, colums = df.shape
print(rows)
print(colums)

6
4

In [14]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [15]:
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [18]:
# want to print 2, 3, 4
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [20]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [21]:
df.day # df['day'] both are same

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object