In [2]:
#Dataset read
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv(r"C:\Users\anikakash-w\NoteBook\LearnPandas\DataSets\IRIS.csv")

In [14]:
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [9]:
import statistics as stat

# Mean

In [15]:
stat.mean(df['sepal_length'])

5.843333333333334

# Median

In [16]:
stat.median(df['sepal_length'])

5.8

# Mode

In [17]:
stat.mode(df['sepal_length'])

5.0

# Percentile

In [18]:
np.percentile(df['sepal_length'],50)

5.8

In [21]:
df['sepal_length'].quantile([0.05, 0.25, 0.5, 0.75])

0.05    4.6
0.25    5.1
0.50    5.8
0.75    6.4
Name: sepal_length, dtype: float64

# VARIANCE 
to calcualt difference a value from mid value

In [24]:
stat.variance(df['sepal_length'])

0.6856935123042506

**Standard Deviations**

In [25]:
x = np.std(df['sepal_length'])

print(x)

0.8253012917851409

In [26]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [27]:
import seaborn as sns

In [28]:
da = sns.load_dataset("iris")
da.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa